@model _19_Sistema_de_Gestión_de_Tareas_de_Mantenimiento.Models.PuedeSer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PuedeSer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Personal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Personal.PersonalId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoPersonal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoPersonal.TipoPersonalId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PersonalId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
