@model _19_Sistema_de_Gestión_de_Tareas_de_Mantenimiento.Models.Dispone

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Dispone</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Programacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Programacion.ProgramacionId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tarea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tarea.TareaId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TareaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
