@model _19_Sistema_de_Gestión_de_Tareas_de_Mantenimiento.Models.Suministra

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Suministra</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProveedorId" class="control-label"></label>
                <select asp-for="ProveedorId" class ="form-control" asp-items="ViewBag.ProveedorId"></select>
            </div>
            <div class="form-group">
                <label asp-for="RepuestoId" class="control-label"></label>
                <select asp-for="RepuestoId" class ="form-control" asp-items="ViewBag.RepuestoId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
