@model _19_Sistema_de_Gestión_de_Tareas_de_Mantenimiento.Models.Suministra

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Suministra</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Proveedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Proveedor.ProveedorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Repuesto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Repuesto.RepuestoId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProveedorId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
